*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
header{
	background-color: #21548e;
    height: 60px;
    margin-bottom: 10px;
}
.logo{
	color: white;
    font-family: 'Indie Flower', cursive;
    float: left;
    padding-top: 15px;
}
.container{
	width: 980px;
	margin: 0 auto;
}

textarea{
	float: left;
	width: 49%;
	height: 100%;
	resize: none;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding: 10px;
	display: block;
	background-color: #eaeaea;
	outline: none;
}

#otvet{
	width: 49%;
	float: right;
	background-color: #b7b7b7;
	height: 100%;
	padding: 10px;
	overflow: auto;
}
.wraper{
	height: 500px;
}
ul{
	margin: 20px;
}
li{
	font-size: 16px;
	margin: 10px;
}